@use 'variables' as*;

body {
    color: $white-1;
    background: $smoky-black;
    font-size: 62.5%;
    padding: 3rem;
    font-family: $ff-poppins;

    .grid {
        display: grid;
        grid-template-columns: 18rem auto;
        gap: 1.2rem;
        height: 85vh;
        // border: 2px solid blue;

        .sidebar {
            border: 1px solid $jet;
            border-radius: 1.5rem;
            background: $eerie-black-2;
            box-shadow: $shadow-1;
            justify-items: center;

            .avatar {
                background: $bg-gradient-onyx;
                border: 2px solid $jet;
                border-radius: 2rem;
                width: 10.5rem;
                height: 10.5rem;
                margin: 2.5rem;
                justify-items: center;
                text-align: center;

                .avt {
                    width: 100%;
                }
            }

            .name {
                margin: 1rem;
                width: 100%;
                font-size: 1.5rem;
                font-weight: $fw-600;

            }

            .role {
                margin-top: 4.3rem;
                color: $light-gray;
                background: $onyx;
                text-align: center;
                border-radius: .5rem;
                font-size: .7rem;
                font-weight: $fw-400;
                padding: .4rem;
                width: 50%;

            }

            .gray-separator {
                margin-top: 1.5rem;
                border: .01rem solid $jet;
                width: 80%;
            }

            .nav-list {
                // border: 2px solid red;
                list-style-type: none;
                padding: 0rem;
                display: flex;
                flex-direction: column;
                margin: 0rem;


                .list-item a {
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                    color: $white-2;
                    font-size: 1rem;
                    border: .1rem solid $jet;
                    border-radius: .6rem;
                    padding: .4rem;
                    margin-top: 1.8rem;
                    width: 8.5rem;
                    box-shadow: $shadow-2 ;

                }

                .list-item a:hover {
                    background: $onyx;
                    color: $orange-yellow-crayola;
                }

                .list-item a:focus,
                .list-item a:active {
                    background: $onyx;
                    color: $orange-yellow-crayola;
                }

            }
        }

        .scroll-container {
            border: .05rem solid $jet;
            border-radius: 1.5rem;
            background: $eerie-black-2;
            box-shadow: $shadow-1;
            overflow: scroll;

            .wrapper {
                // border: 1px solid red;
                border-radius: inherit;
                // height: 1200%;
                // padding: 2.7rem;

                .about {
                    // border: 1px solid blue;
                    // height: 7%;
                    padding: 2.7rem 5rem;


                    .title {
                        font-size: 2rem;
                        font-weight: $fw-600;
                        // margin: 1rem 0rem;
                    }

                    .separator {
                        border: .15rem solid $orange-yellow-crayola;
                        border-radius: 1rem;
                        width: 2.5rem;
                        margin: 1rem 0rem;
                    }

                    .intro {
                        color: white;
                        font-size: 1.5rem;
                        font-weight: $fw-400;
                        margin: 2rem 0rem 1rem 0rem;
                    }

                    .about-content {
                        // border: 2px solid red;
                        display: inline-block;
                        color: $light-gray;
                        font-size: 1rem;
                        width: 80%;
                        margin: 0rem 0rem 1rem 0rem;
                    }

                    .what-doing {


                        .what-do-title {
                            margin: 1rem 0rem;
                            font-size: 2rem;
                            font-weight: $fw-600;
                        }

                        .box-grid {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            gap: 2rem;
                            padding: 1rem 0rem;

                            .box {
                                border: 1px solid $jet;
                                box-shadow: $shadow-2;
                                border-radius: 1.2rem;
                                width: 27rem;
                                height: 9rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;


                                .service-content-box {
                                    width: 70%;
                                    display: flex;
                                    flex-direction: column;


                                    .service-item-title {

                                        font-size: 1.2rem;
                                        margin: 0rem 2rem;
                                    }

                                    .service-item-text {
                                        font-size: .9rem;
                                        color: $light-gray;
                                        margin: 0.8rem 2rem;
                                    }
                                }

                            }

                            .boxx {
                                border: 1px solid $jet;
                                box-shadow: $shadow-2;
                                border-radius: 1.2rem;
                                width: 27rem;
                                height: 9rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;


                                .service-content-box {
                                    width: 70%;
                                    justify-content: center;
                                    align-items: center;


                                    .service-item-title {
                                        font-size: 1.2rem;
                                        margin: 0.5rem 2rem;
                                    }

                                    .service-item-text {
                                        font-size: .9rem;
                                        color: $light-gray;
                                        margin: 0.8rem 2rem;
                                    }
                                }

                            }

                        }
                    }


                }

            }

            .resume {
                // border: 1px solid green;
                padding: 2.7rem 5rem 0rem 5rem;

                .title {
                    font-size: 2rem;
                    font-weight: $fw-600;
                    // margin: 1rem 0rem;
                }

                .separator {
                    border: .15rem solid $orange-yellow-crayola;
                    border-radius: 1rem;
                    width: 2.5rem;
                    margin: 1rem 0rem;
                }



                .resume-content {
                    margin: 2rem 0rem;

                    .timeline {
                        display: inline-block;
                        border: 1px solid $jet;
                        width: 0rem;
                        height: 26rem;
                        position: relative;
                        z-index: 0;
                        left: 1.3rem;
                        top: -5rem;

                    }

                    .education {
                        display: inline-block;

                        .title-wrapper {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .icon-box {
                                border: 1px solid $jet;
                                background: $onyx;
                                border-radius: .5rem;
                                width: 2rem;
                                height: 2rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                z-index: 10;
                                box-shadow: $shadow-1;

                                .icon {
                                    border-radius: .1rem;
                                    width: 30%;
                                    height: 30%;
                                    background: $orange-yellow-crayola;
                                    box-shadow: $shadow-2;
                                }
                            }

                            .education-tittle {
                                margin: 0rem 2rem;
                                font-size: 1.8rem;
                            }
                        }

                        .education-list {
                            // border: 1px solid green;
                            display: inline-block;
                            margin: 0rem 1rem;
                            list-style: none;


                            .edcation-list-item {
                                margin: 2rem 1rem;
                                width: 80%;

                                .item-icon-box {
                                    border: 2px solid $jet;
                                    background: $jet;
                                    border-radius: 50%;
                                    width: .6rem;
                                    height: .6rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: relative;
                                    top: 1.1rem;
                                    left: -3.8rem;
                                    z-index: 10;
                                    box-shadow: $shadow-2;

                                    .item-icon {
                                        background: $orange-yellow-crayola;
                                        border-radius: inherit;
                                        width: 50%;
                                        height: 50%;
                                    }
                                }

                                .board-tittle {
                                    color: white;
                                    font-size: 1.2rem;
                                    font-weight: $fw-600;
                                }

                                .branch {
                                    color: $orange-yellow-crayola;
                                    font-size: .9rem;
                                }

                                .year {
                                    color: $orange-yellow-crayola;
                                    font-size: .9rem;
                                }

                                .education-detail {
                                    color: $light-gray;
                                    font-weight: $fw-300;
                                    font-size: 1rem;
                                }

                            }

                        }

                    }

                    .skills {
                        // border: 1px solid $orange-yellow-crayola;
                        margin: 3rem 0rem;

                        .tittle {
                            color: white;
                            font-size: 2rem;
                            font-weight: $fw-600;
                            margin: 0rem 1rem;
                        }

                        .skill-container {
                            border: 1px solid $jet;
                            border-radius: 2rem;
                            box-shadow: $shadow-2;
                            margin: 2.5rem 0rem;
                            padding: 2rem;
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            gap: 2rem;


                            .lang {

                                .lang-title {
                                    color: white;
                                    font-size: 1.5rem;
                                    font-weight: $fw-600;

                                }

                                .lang-item {
                                    margin: 2rem 0rem;
                                    font-size: 1rem;
                                    font-weight: $fw-600;

                                    .progressbar {
                                        margin: 1rem 0rem;
                                        background: $jet;
                                        border-radius: 2rem;
                                        width: 75%;
                                        height: .5rem;

                                        .bar-filler {
                                            height: 100%;
                                            width: 80%;
                                            border-radius: inherit;
                                            background: $orange-yellow-crayola;
                                        }
                                    }
                                }
                            }

                            .tool {

                                .tool-title {
                                    color: white;
                                    font-size: 1.5rem;
                                    font-weight: $fw-600;
                                    font-weight: $fw-600;

                                }

                                .tool-item {
                                    margin: 2rem 0rem;
                                    font-size: 1rem;

                                    .progressbar {
                                        margin: 1rem 0rem;
                                        background: $jet;
                                        border-radius: 2rem;
                                        width: 75%;
                                        height: .5rem;

                                        .bar-filler {
                                            height: 100%;
                                            width: 80%;
                                            border-radius: inherit;
                                            background: $orange-yellow-crayola;
                                        }
                                    }

                                }
                            }


                        }
                    }

                }
            }

            .projects {
                // border: 1px solid cyan;
                padding: 2.7rem 5rem 1rem 5rem;


                .title {
                    font-size: 2rem;
                    font-weight: $fw-600;
                    // margin: 1rem 0rem;
                }

                .separator {
                    border: .15rem solid $orange-yellow-crayola;
                    border-radius: 1rem;
                    width: 2.5rem;
                    margin: 1rem 0rem;
                }

                .filter {
                    margin: 2rem -3.5rem;

                    .filter-list {
                        display: flex;
                        font-size: .9rem;
                        list-style: none;

                        .filter-list-item a {
                            margin: 0rem 1rem;
                            text-decoration: none;
                            color: $light-gray-70;
                        }

                        .filter-list-item a:hover {
                            color: $orange-yellow-crayola;

                        }
                    }
                }

                .project-grid {
                    margin: 3rem -1rem;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1.5rem;

                    .project-item {


                        img {
                            width: 90%;
                            height: auto;
                            border-radius: 1rem;
                            border: 2px solid $jet;
                            opacity: 70%;
                        }

                        img:hover {
                            transform: scale(102%);
                        }

                    }

                }

            }

            .contact {
                // border: 1px solid yellow;
                padding: 2.7rem 5rem 1rem 5rem;


                .title {
                    font-size: 2rem;
                    font-weight: $fw-600;
                    // margin: 1rem 0rem;
                }

                .separator {
                    border: .15rem solid $orange-yellow-crayola;
                    border-radius: 1rem;
                    width: 2.5rem;
                    margin: 1rem 0rem;
                }

                .other-contacts {
                    // border: 1px solid red;
                    margin: 1rem 0rem;
                    width: 95%;
                    color: white;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    align-items: center;

                    .contact-item {
                        margin: 1rem 0rem;
                        display: flex;
                        flex-direction: row;

                        .icon-box {
                            border: 1px solid $jet;
                            background: $onyx;
                            border-radius: 1rem;
                            width: 3rem;
                            height: 3rem;
                            background: $bg-gradient-jet;
                            box-shadow: $shadow-2;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 50%;
                                height: auto;
                            }
                        }

                        .other-contact-title {
                            margin: .5rem 1rem;
                            color: $light-gray-70;
                            font-size: .7rem;


                            a {

                                text-decoration: none;
                                color: white;
                                font-size: .9rem;
                            }
                        }


                    }


                }

                .contact-form {

                    .form-name {
                        color: $white-2;
                        font-size: $fs-6;
                        font-weight: $fw-400;
                        padding: 1rem 1.5rem;
                        background: none;
                        border: 1px solid $jet;
                        border-radius: 1rem;
                        outline: none;
                        width: 40%;
                        box-shadow: $shadow-1;
                    }

                    .form-name::placeholder {
                        font-weight: $fw-500;
                    }

                    .form-name:focus {
                        border-color: $orange-yellow-crayola;
                    }

                    .form-input:focus:invalid {
                        border-color: $bittersweet-shimmer;
                    }

                    .form-email {
                        color: $white-2;
                        font-size: $fs-6;
                        padding: 1rem 1.5rem;
                        margin: 0rem 2rem;
                        background: none;
                        border: 1px solid $jet;
                        border-radius: 1rem;
                        outline: none;
                        width: 40%;
                        box-shadow: $shadow-1;
                    }

                    .form-email::placeholder {
                        font-weight: $fw-500;
                    }

                    .form-email:focus {
                        border-color: $orange-yellow-crayola;
                    }

                    .form-email:focus:invalid {
                        border-color: $bittersweet-shimmer;
                    }

                    .form-message {
                        box-shadow: $shadow-1;
                        color: $white-2;
                        font-size: $fs-6;
                        background: none;
                        border: 1px solid $jet;
                        border-radius: 1rem;
                        padding: 1.5rem 2rem;
                        margin: 2rem 0rem 1rem 0rem;
                        width: 87%;
                        height: 25vh;
                    }

                    .form-message::placeholder {
                        font-weight: $fw-500;
                        font-family: $ff-poppins;
                    }

                    .form-message::-webkit-resizer {
                        display: none;
                    }

                    .form-btn {
                        position: relative;
                        right: -44rem;
                        margin: 2rem;
                        background: $bg-gradient-jet;
                        font-size: 1rem;
                        padding: 1rem;
                        color: $orange-yellow-crayola;
                        border-radius: 1rem;

                    }

                    .form-btn::before {
                        content: "";
                        position: absolute;
                        inset: 1px;
                        background: $bg-gradient-jet;
                        border-radius: inherit;
                        z-index: -1;
                        transition: $transition-1;
                    }

                    .form-btn ion-icon {
                        font-size: 16px;
                    }

                    .form-btn:hover {
                        background: $bg-gradient-yellow-1;
                    }

                    .form-btn:hover::before {
                        background: $bg-gradient-yellow-2;
                    }

                    .form-btn:disabled {
                        opacity: 0.7;
                        cursor: not-allowed;
                    }

                    .form-btn:disabled:hover {
                        background: $border-gradient-onyx;
                    }

                    .form-btn:disabled:hover::before {
                        background: $bg-gradient-jet;
                    }

                }

            }

        }

    }

    .scroll-container::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    // mobile phone
}

@media only screen and (min-width: 601px) and (max-width: 1249px) {
    // tablet
}